extends ../layout.pug

block content
  //- login form
  form(action="/login/register", method="post")
    div(class="field")
      label(class="label") Email
      div(class="control has-icons-left")
        input(class="input", name="username", type="email", placeholder="user@domain.com")
        span(class="icon is-small is-left")
          i(class="fa fa-envelope")
    div(class="field")
      label(class="label") Password
      div(class="control has-icons-left")
        input(class="input", name="password", type="password")
        span(class="icon is-small is-left")
          i(class="fa fa-lock")
    div(class="field")
      label(class="label") Confirm Password
      div(class="control has-icons-left")
        input(class="input", name="confirm-password", type="password")
        span(class="icon is-small is-left")
          i(class="fa fa-lock")
    div(class="control")
      button(class="button is-primary") Login
  
