
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Go Horse Internet Banking
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")
  body
    section(class="section")
      div(class="container")
        div(class="columns")
          div(class="column")
            h1(class="title") Go Horse Internet Banking
        div(class="columns")
          div(class="column")
            //- error message, when present
            if flash
              article(class=[ "message", flash.type ].join(' '))
                div(class="message-header")
                  p= flash.title
                  button(class="delete", aria-label="delete")
                div(class="message-body")
                  = flash.message
            
            block content
